labs/lab3/calc_wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:tns="http://tempuri.org/"
    targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" elementFormDefault="qualified">
            <xs:element name="Add">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="intA" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="intB" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="AddResult" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="AddRequest">
        <wsdl:part name="input" element="tns:Add"/>
    </wsdl:message>
    <wsdl:message name="AddResponse">
        <wsdl:part name="input" element="tns:AddResponse"/>
    </wsdl:message>
    <wsdl:portType name="AddPortType">
        <wsdl:operation name="AddOperation">
            <wsdl:input message="tns:AddRequest"/>
            <wsdl:output message="tns:AddResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AddBinding" type="tns:AddPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AddOperation">
            <soap:operation soapAction="http://tempuri.org/Add"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AddService">
        <wsdl:port binding="tns:AddBinding" name="AddPort">
            <soap:address location="http://www.dneonline.com/calculator.asmx"/>
        </wsdl:port> 
    </wsdl:service>
</definitions>