07-bpel/ETicketService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://hw2/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hw2/" name="ETicketServiceImplService">
    <types>
        <xs:schema xmlns:tns="http://hw2/"
            xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://hw2/">
            <xs:element name="checkETicketValidity" type="tns:checkETicketValidity"/>
            <xs:element name="checkETicketValidityResponse" type="tns:checkETicketValidityResponse"/>
            <xs:element name="eTicket" type="tns:eTicket"/>
            <xs:element name="generateETicket" type="tns:generateETicket"/>
            <xs:element name="generateETicketResponse" type="tns:generateETicketResponse"/>
            <xs:complexType name="generateETicket">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="generateETicketResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:eTicket" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="eTicket">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="athleteId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="checkETicketValidity">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="checkETicketValidityResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="generateETicket">
        <part name="parameters" element="tns:generateETicket"/>
    </message>
    <message name="generateETicketResponse">
        <part name="parameters" element="tns:generateETicketResponse"/>
    </message>
    <message name="checkETicketValidity">
        <part name="parameters" element="tns:checkETicketValidity"/>
    </message>
    <message name="checkETicketValidityResponse">
        <part name="parameters" element="tns:checkETicketValidityResponse"/>
    </message>
    <portType name="ETicketService">
        <operation name="generateETicket">
            <input wsam:Action="http://hw2/ETicketService/generateETicketRequest" message="tns:generateETicket"/>
            <output wsam:Action="http://hw2/ETicketService/generateETicketResponse" message="tns:generateETicketResponse"/>
        </operation>
        <operation name="checkETicketValidity">
            <input wsam:Action="http://hw2/ETicketService/checkETicketValidityRequest" message="tns:checkETicketValidity"/>
            <output wsam:Action="http://hw2/ETicketService/checkETicketValidityResponse" message="tns:checkETicketValidityResponse"/>
        </operation>
    </portType>
    <binding name="ETicketServiceImplPortBinding" type="tns:ETicketService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="generateETicket">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkETicketValidity">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ETicketServiceImplService">
        <port name="ETicketServiceImplPort" binding="tns:ETicketServiceImplPortBinding">
            <soap:address location="http://127.0.0.1:8004/ETicketService"/>
        </port>
    </service>
</definitions>