07-bpel/hwProcess/VerificationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://hw2/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hw2/" name="VerificationServiceImplService">
    <types>
        <xs:schema xmlns:tns="http://hw2/"
            xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://hw2/">
            <xs:element name="getAllVerifiedAthletes" type="tns:getAllVerifiedAthletes"/>
            <xs:element name="getAllVerifiedAthletesResponse" type="tns:getAllVerifiedAthletesResponse"/>
            <xs:element name="verify" type="tns:verify"/>
            <xs:element name="verifyResponse" type="tns:verifyResponse"/>
            <xs:complexType name="getAllVerifiedAthletes">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllVerifiedAthletesResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="verify">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="verifyResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="verify">
        <part name="parameters" element="tns:verify"/>
    </message>
    <message name="verifyResponse">
        <part name="parameters" element="tns:verifyResponse"/>
    </message>
    <message name="getAllVerifiedAthletes">
        <part name="parameters" element="tns:getAllVerifiedAthletes"/>
    </message>
    <message name="getAllVerifiedAthletesResponse">
        <part name="parameters" element="tns:getAllVerifiedAthletesResponse"/>
    </message>
    <portType name="VerificationService">
        <operation name="verify">
            <input wsam:Action="http://hw2/VerificationService/verifyRequest" message="tns:verify"/>
            <output wsam:Action="http://hw2/VerificationService/verifyResponse" message="tns:verifyResponse"/>
        </operation>
        <operation name="getAllVerifiedAthletes">
            <input wsam:Action="http://hw2/VerificationService/getAllVerifiedAthletesRequest" message="tns:getAllVerifiedAthletes"/>
            <output wsam:Action="http://hw2/VerificationService/getAllVerifiedAthletesResponse" message="tns:getAllVerifiedAthletesResponse"/>
        </operation>
    </portType>
    <binding name="VerificationServiceImplPortBinding" type="tns:VerificationService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="verify">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAllVerifiedAthletes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="VerificationServiceImplService">
        <port name="VerificationServiceImplPort" binding="tns:VerificationServiceImplPortBinding">
            <soap:address location="http://127.0.0.1:8004/VerificationService"/>
        </port>
    </service>
</definitions>